<div class="itemsSummary">
    <div>
        <h3>Total Quantity</h3>
        <p><%= summary.total_items %></p>
    </div>
    <div>
        <h3>Total Stock Value</h3>
        <p>$<%= summary.total_stock %></p>
    </div>
</div>